.main{
    width: 100vw;
    height: 100vh;
    background-image: url('../../../../Assets//background.jpg');
    background-size: 100% 100%;
}
.formLogin{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);

}