.header{
    width: 100%;
    position: fixed;
    top: 0;
    height: 12vh;
    display: flex;
    align-items: center;
    background-color: rgba(38, 37, 36, 0.066);
    &Logo{
        font-size: 40px;
        padding: 55px;
        width: 14vw;
        color: white;
        font-weight: 400;
        text-align: center;
        a{color: white;}
    }
    nav{
        width: 70vw;
        display: flex;
        justify-content: start;
        ul{
            display: flex;
            li{
                list-style: none;
                a{
                    color: white;
                    font-size: 24px;
                    padding: 30px 12px;
                }
            }
        }
    }
    &User{
        display: flex;
        justify-content: center;
        img{
            height: 6vh;
            border-radius: 100px;
        }
    }
}